.content {
    color: white;
}

.player-select {
    width: fit-content;
}

.fight-form {
    margin-left: 100px;
    margin-top: 50px;
}

#player_hp, #enemy_hp {
    width: fit-content;
}

#attack_button {
    margin-top: 20px;
    border-radius: 20px;
}

.attack-target > li {
    list-style: none;
}

.modal {
    --bs-border-color: transparent;
}

.character_img {
    width: 350px;
    height: 700px;
    margin-top: 20px;
}

.character_img img {
    width: inherit;
    height: inherit;
    border: 4px #00000085 solid;
    border-radius: 10px;
}

.progress {
    border: 2px solid #000000db;
    border-radius: 10px;
}